#div01{

    background: red;

    width: 600px;

    height: 130px;

    margin-top: 20px;

    margin-left: auto;

    margin-right: auto;

    border-bottom: 15px solid lightgreen;

}



#div02{

    background: yellow;

    height: 450px;

    width: 300px;

    margin-left: auto;

    margin-right: auto;

    border-left :150px solid blue;

    border-right: 150px solid lightgray;

}
