#div01{
    background-color: red;
    width: 50%;
    height: 150px;
    margin: 20px auto 0;
    border-bottom: 15px solid lightgreen;
}

#div02{
    background-color: blue;
    height: 500px;
    width: 12.5%;
    margin-left: 25%;
    float: left;
}

#div03{
    background-color: yellow;
    height: 500px;
    width: 25%;
    float: left;
}

#div04{
    background-color: lightgray;
    height: 500px;
    width: 12.5%;
    float: left;
}
