body{
    background-image: url("https://us.123rf.com/450wm/ingalinder/ingalinder1510/ingalinder151000014/45876526-zig-zag-chevron-black-and-yellow-tile-vector-pattern-or-wallpaper-background.jpg");
}

#d01{
    background-color: white;
    border: 3px solid black;
	width: 40%;
	margin: 10% auto;
}

#d02{
    background-color: lightgreen;
    color: black;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 30px;
    padding: 0 10px;
    min-height: 40px;
}

#i01{
    width: 100%;
	text-indent: 3%;
}

#d03{
	width: 100%;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

li {
    font-family: Arial;
    font-size: 20px;
    color: black;
    padding: 2%;
	min-height: 20px;
}

#left{
    background-color: yellow;
}

#finished{
    background-color: orange;
    text-decoration: line-through;
}

button{
    display: none;
    float: left;
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 2px;
}

#edit{
    background-color: lightgreen;
}

li:hover button{
    display: inline;
}

img{
    width: 20px;
    height: 20px;
}

#span{
    float: right;
    font-size: 10px;
    color: red;
}
